.section__about {
  background-image: url(../assets/images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.about__inner {
  position: relative;
  padding-top: 120px;
  padding-bottom: 136px;
  .g {
    top: 264px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .knife {
    top: 120px;
    z-index: 5;
    // max-height: 100%;
  }
  display: flex;
  align-items: center;
  gap: 0 74px;
}
.box__history, .box__about {
  z-index: 5;
}
.box__about {
  text-align: right;
}


@media screen and (max-width: 1024px) {
  .about__inner {
    // flex-direction: column;
    gap: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    .g {
      display: none;
    }
    .knife {
      width: 100px;
    }
    div {
      text-align: center;
    }
  }
}
@media screen and (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    .knife {
      display: none;
    }
  }
}
