.cocktail-menu__inner {
  padding-top: 152px;
  padding-bottom: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cocktail-menu__content {
  display: flex;
}
.menu-card__title {
  font-family: $font-cormorant;
  font-weight: 600;
  @include adaptive-font(23, 45);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.menu-item__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.content-title {
  font-family: $font-cormorant;
  font-weight: 700;
  @include adaptive-font(14, 23);
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: $font-color-gold;
}
.content-price {
  padding-left: 192px;
  font-family: $font-cormorant;
  font-weight: 700;
  @include adaptive-font(14, 23);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 50px;
    height: 1px;
    width: 119px;
    background-color: white;
  }
}
.content-descr {
  font-family: $font-open;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: $font-color-gray;
  @include adaptive-font(12, 16);
}
.menu-item {
  margin-bottom: 40px;
}
.cocktail-menu__content {
  img {
    margin: 0 32px;
  }
  margin-bottom: 64px;
}

@media screen and (max-width: 1640px) {
  .cocktail-menu__inner {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .content-price {
    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  .cocktail-menu__content {
    gap: 50px;
    justify-content: center;
    img {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .cocktail-menu__content {
    flex-direction: column;
  }
}