.footer__inner {
  padding-top: 305.5px;
  padding-bottom: 144px;
  
  position: relative;
  .copy {
    font-family: $font-open;
    color: $font-color-gray;
    line-height: 175%;
    letter-spacing: 0.04em;
    display: block;
    text-align: center;
  }
  .scroll {
    top: 115px;
  }
}

.footer {
  background-image: url(../assets/images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  z-index: 5;
}
.info__contact {
  span {
    margin-bottom: 8px;
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-weight: 400;
    font-family: $font-cormorant;
    font-size: 32px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #F5EFDB;
    margin-bottom: 24px;
  }
  a,
  span 
  {
    font-family: $font-open;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: $font-color-gray;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.footer__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 82px;
}

.info__main {
  margin-right: 100px;
  .footer-logo {
    font-family: $font-cormorant;
    color: $font-color-gold;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  blockquote {
    display: inline-block;
    font-family: $font-open;
    color: $font-color-white;
    line-height: 175%;
    letter-spacing: 0.04em;
    padding-bottom: 16px;
    max-width: 450px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.socials {
  display: flex;
  gap: 0 16px;
}

@media screen and (max-width: 1240px) {
  .footer__inner {
    padding-top: 0px;
    #scroll {
      display: none;
    }
    .footer-logo {
      display: inherit;
    }
  }
  .footer__info-box {
    gap: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__info-box {
    flex-direction: column;
    justify-content: center;
    .info__main {
      margin: 0;
    }
  }
}